@import "tailwindcss";

@layer components {
  .wobbling-3 {
    width: 60%;
    max-width: 500px;
    height: 30px;
    border-radius: 40px;
    color: theme(--color-purple-50);
    border: 2px solid;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, 50%);
  }
  .wobbling-3::before {
    content: "e";
    position: absolute;
    margin: 2px;
    width: 25%;
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    background: currentColor;
    animation: w3 1s infinite linear;
  }
  @keyframes w3 {
    50% {
      left: 100%;
      transform: translateX(calc(-100% - 4px));
    }
  }
}
