@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Press+Start+2P&family=Righteous&display=swap');
@import "tailwindcss";

.righteous-regular {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.courier-prime-regular,
.reg-text {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

.courier-prime-bold,
.title-text {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: normal;
}

.courier-prime-regular-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: italic;
}

.courier-prime-bold-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: italic;
}

.press-start-2p-regular,
.special-title {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}


@layer components {
  .wobbling-3 {
    width: 60%;
    max-width: 500px;
    height: 30px;
    border-radius: 40px;
    color: theme(--color-purple-50);
    border: 2px solid;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, 50%);
  }
  .wobbling-3::before {
    content: "e";
    position: absolute;
    margin: 2px;
    width: 25%;
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    background: currentColor;
    animation: w3 1s infinite linear;
  }
  @keyframes w3 {
    50% {
      left: 100%;
      transform: translateX(calc(-100% - 4px));
    }
  }
}
